<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script id="list-item-template" type="text/x-handlebars-template">
    <div class="list-item {{addClass}}" data-location="{{random_location}}" data-item-id="{{id}}"
         onclick="window.open('/items1/{{id}}')">
        <div class="i-img"><img src="//s.zigbang.com/v2/web/thumbnail.png" class="lazy" data-original="{{img_url}}"
                                alt=""/><em></em></div>
        <div class="i-tit">
            <strong>{{{deposit1}}}/{{deposit2}}</strong>
            <b>{{floor}}</b>
            <img src="//s.zigbang.com/v1/web/common/blank.png" class="tag-type tag-{{agent}}" alt=""/>
        </div>
        <p class="i-info">{{{info1}}} <em>{{{info_type}}}</em></p>
        <p class="i-txt">{{{info2}}}</p>
    </div>
</script>


</body>
</html>