<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>전국 구석구석</title>
        <link th:href="@{/css/main.css}" rel="stylesheet"/>
        <link th:href="@{/css/season.css}" rel="stylesheet"/>
        <link th:href="@{/css/search.css}" rel="stylesheet"/>
        <link th:href="@{/css/paging.css}" rel="stylesheet"/>

        <link rel="shortcut icon" th:href="@{/image/logo/favicon.ico}"/>
        <script type="text/javascript"
                src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=JHCRp_NbcX1UiowWkucf"></script>
        <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

        <script type="text/javascript" th:src="@{/js/SeasonView.js}"></script>
        <script type="text/javascript" th:src="@{/js/FestivalListFilter.js}"></script>
    </head>
<body>
<div class="header">
    <h1><a href="/daview">
        <img class="Logo" th:src="@{/image/logo/project_logo.png}" alt="다뷰"/>
    </a></h1>

    <div class="gnb">

        <ul id="gnb-container">
            <li class="has_d2">
                <a href="/daview/spring">계절별 축제
                    <small>봄/여름/가을/겨울</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/spring">봄</a>
                    <a href="/daview/summer">여름</a>
                    <a href="/daview/fall">가을</a>
                    <a href="/daview/winter">겨울</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/daview/area1">지역별 축제
                    <small>축제</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/area1">서울/경기 지방</a>
                    <a href="/daview/area2">관동 지방</a>
                    <a href="/daview/area3">호서 지방</a>
                    <a href="/daview/area4">호남 지방</a>
                    <a href="/daview/area5">영남 지방</a>
                    <a href="/daview/area6">제주 지방</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/daview/rank">축제 순위
                    <small>전국 축제 TOP 100</small>
                </a>
            </li>

            <li class="has_d2">
                <a href="/">고객센터</a>
            </li>

        </ul>
    </div>

    <div class="top_btn">
        <div class="bx_user">
            <button type="button">로그인</button>
            <button type="button">회원가입</button>
        </div>
    </div>
</div>

<div class="container">
    <!--<a href="/daview/area1">-->
        <!--<p class="over" style="text-align: center">-->
            <!--<img src="/image/season/spring.png" style="max-width: 200px; border-radius: 50px">-->
        <!--</p></a>-->
    <div id="wrap" class="search-container">
        <input id="search_fest" name="search_fest" type="text" placeholder="검색어를 입력하세요.">
        <input id="btn-room-search" name="btn-room-search" value="Rechercher" type="submit">
    </div>
    <div class="gallery" id="gallery">
        <a id="MOVE_TOP_BTN" href="#">
            <img src="/image/search/img_top.png" style="width: 80px; height: 110px;">
        </a>
    </div>
</div>

<script th:inline="javascript">

    var item = [[${item}]];
    FestivalView(item);

</script>
</body>
</html>