.container{
position: absolute;
top: 100px;

}

.tg-container {
padding: 0 36px 132px;
}

.tg-container {
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
min-height: calc(100vh - 78px);
border-left: 1px solid rgba(32, 48, 60, 0.1);
}

ul {
list-style: none;
    cursor: pointer;
}

.-sidebar-open > .tg-container > .tg-gallery {
transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.tg-gallery {
max-width: 1539px;
margin: auto;
transition: max-width 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.tg-gallery {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: flex-start;
-ms-flex-line-pack: start;
align-content: flex-start;
width: 100%;
text-align: center;
}

.tg-gallery li {
display: list-item;
text-align: -webkit-match-parent;
width: 352px;
}

.tg-thumbnail {
position: relative;
overflow: hidden;
}

.tg-template:nth-child(2n+1) {
margin-left: 36px;
}

.tg-template {
width: calc((100% - 132px) / 2);
margin: 0 30px 86px;
}

.tg-template {
position: relative;
border-radius: 4px 4px 0 0;
box-shadow: 0px 1px 2px 0px rgba(32, 48, 60, 0.14), 0px 3px 3px 0px rgba(32, 48, 60, 0.06);
}

.img-size {
width: 352px;
height: 222px;

}

.gallery h1 {
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    line-height: 63px;
}

