@charset "utf-8";
header{

}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, em, img, sub, sup, u, i, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
article, aside, canvas, details, figcaption, figure, footer, header{
    display: block;
}
body {
    line-height: 1.5em;
    background: #f6f6f6;
    font-size: 12px;
    color: #666666;
    font-family: 'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-text-size-adjust: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
    *display: inline;
    *width: auto;
}


/*건들이지마*/

.header {
    display: block;
    border-bottom: 1px solid #e1e1e1;
    background: white;
    padding: 15px 20px 0px 32px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 101;
    min-width: 1180px;
    box-sizing: border-box;
}

.header .Logo{
    height: 55px;
    width: 95px;
}


.header h1 {
    float: left;
    padding-left: 8px;
    font-size: 0;
    line-height: 0;
}
.header h1 a {
    display: block;
    padding: 0 26px 0 0;
    height: 50px;
}
.header .gnb {
    float: left;
    position: relative;
    z-index: 1000;
}
.header .gnb > ul:after {
    content: '';
    display: table;
    clear: both;
}
.header .gnb > ul > li {
    display: block;
    float: left;
    margin: 0 14px;
    position: relative;
}
.header .gnb > ul > li:first-child {
    margin-left: 4px;
}
.header .gnb > ul > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: black;
    padding: 7px 11px;
}
.header .gnb > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.25s ease;
}
.header .gnb > ul > li > a small {
    font-size: 11px;
    color: #757575;
    margin-left: 10px;
}
.header .gnb > ul > li > a .new {
    position: absolute;
    top: -4px;
    left: 8px;
}
.header .gnb > ul > li .depth2_bx {
    margin-top: 1px;
    border-top-width: 0;
    box-sizing: border-box;
}
.header .gnb > ul > li:hover .depth2_bx {
    visibility: visible;
    opacity: 1;
}
.header .gnb > ul > li:hover > a {
    color: #ffa409;
}
.header .gnb > ul > li:hover > a small {
    color: #ffa409;
}
.header .gnb > ul > li.on > a {
    color: #ffa409;
}
.header .gnb > ul > li.on > a small {
    color: #ffa409;
}
.header .gnb > ul > li.has_d2:hover > a:after {
    border-color: #ffa409;
}
.header .gnb > ul > li.on > a:after {
    border-color: #ffa409;
}
.header .gnb em {
    float: left;
    height: 70px;
    line-height: 70px;
    color: black;
    font-size: 17px;
}


/*건들이지마*/

.header .top_btn {
    position: absolute;
    right: 20px;
    bottom: 15px;
    /*padding:5px 15px; font-size:12px; background:#f9f8f6; border:1px solid #9f9f9f; border-radius:8px;*/

}

.header .top_btn .bx_user button {
    padding: 0px 15px 0 14px;
    height: 24px;
    font-size: 11px;
    color: #757575;
    position: relative;
    min-width: 49px;
    text-align: center;
    box-sizing: content-box;
    overflow: visible;
}

.header .top_btn .bx_user button:first-child:after {
    content: none;
}




.header .depth2_bx {
    visibility: hidden;
    opacity: 0;
    z-index: 101;
    position: absolute;
    padding: 8px 0;
    min-width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e1e1e1;
    transition: visibility .25s ease, opacity .25s ease;
}
.header .depth2_bx > a {
    line-height: 16px;
    font-size: 13px;
    color: black;
    padding: 9px 13px;
    display: block;
}
.header .depth2_bx > a:hover {
    background-color: #f6f6f6;
}
.map-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
    width: 100%;
    background: white;
}
.map-area {
    position: absolute;
    left: 0;
    top: 0;
    right: 400px;
    bottom: 0;
    background: repeat 0 0;
    border-right: 1px solid #bbbbbb;
}
.map-area #map {
    width: 100%;
    height: 100%;
    *position: absolute;
    *bottom: 0;
}
.map-area .map-name-layer {
    display: inline-block;
    padding: 0 3px;
    background-color: #55411c;
    opacity: 0.8;
    font-size: 13px;
    color: white;
    line-height: 20px;
}
.map-area .map-tab {
    opacity: 0.8;
    display: block;
    position: absolute;
    left: 57px;
    top: 43px;
    z-index: 100;
    padding: 15px;
    background: white;
    width: 400px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}
.map-area .map-tab .i-field {
    position: relative;
}
.map-area .map-tab .i-field .text {
    display: none;
    font-size: 12px;
    color: black;
    vertical-align: middle;
    width: 398px;
    height: 34px;
    border: 2px solid #ffa409;
    text-indent: 30px;
    outline: none;
    background: url(/image/search/ico_search.png) no-repeat 10px center;
}
.map-area .map-tab button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    background: #ffa409;
    color: white;
    outline: none;
}
.map-area .map-tab .delete_text {
    display: none;
    position: absolute;
    right: 76px;
    top: 3px;
    width: auto;
    background: transparent;
}
.map-area .map-tab.close {
    display: none;
}
.map-area .searchbox-btn {
    position: absolute;
    left: 42px;
    top: 30px;
    z-index: 111;
    width: 30px;
    height: 30px;
    padding: 0px;
}
.map-area .searchbox-btn button {
    width: 30px;
    height: 30px;
    display: none;
}
.map-area .searchbox-btn button img {
    display: block;
    width: 150%;

}
.map-area .searchbox-btn #search-open {
    display: none;
}
.map-area .searchbox-btn #search-close {
    display: block;
}


.map-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    overflow-x: hidden;
    /*overflow-y:scroll;*/
    overflow: hidden;
    background: none;
}
.map-search {
    position: relative;
    width: 100%;
    height: 65px;
    background: #f6f6f6;
    border-bottom: 1px solid #d9d3c8;
}
.map-search h4 {
    padding-bottom: 5px;
    color: #333333;
    font-weight: bold;
    font-size: 13px;
}
.map-search .item-deposit {
    float: left;
    padding: 15px 0 0 15px;
    width: 33%;
    box-sizing: border-box;
    *width: 200px;
}
.map-search .item-deposit select {
    width: 45%;
    font-size: 12px;
    height: 23px;
}
.map-search .item-type {
    position: relative;
    width: 100%;
    padding: 15px 15px 0 70px;
    clear: both;
    box-sizing: border-box;
    *width: 315px;
}
.map-search .item-type h4 {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 13px;
}
.map-search .item-type label {
    display: inline-block;
    width: 30%;
    margin-bottom: 3px;
}

.list-item {
    position: relative;
    padding: 12px 0 0 115px;
    width: 200px;
    height: 78px;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}


/* 버튼 */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}