@charset "utf-8";

.container{
position: absolute;
top: 80px;
width: 100%;
}

.tg-container {
padding: 0 36px 132px;
}

.tg-container {
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
min-height: calc(100vh - 78px);
border-left: 1px solid rgba(32, 48, 60, 0.1);
}

.detail-container {
    width: 55%;
    height: 100%;
}

.map {
    width: 100%;
    height: 400px;
    float: inherit;
}

.search-container {
    width: 100%;
}

.detail-img {
    width: 60%;
    float: left;
}

.detail-inform {
    top:400px;
    width: 40%;
    float: right;
}

ul {
    display: block;
    list-style: none;
    cursor: pointer;
}

.detail-informList {
    margin-top: 30px;
    font-weight: bold;
}

dl {
    list-style: none;
}

dd {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 2;
    margin-left: 60px;
    font-size: 15px;
}

.-sidebar-open > .tg-container > .tg-gallery {
transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.tg-gallery {
max-width: 1539px;
margin: auto;
transition: max-width 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.tg-gallery {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: flex-start;
-ms-flex-line-pack: start;
align-content: flex-start;
width: 100%;
text-align: center;
}

.tg-gallery li {
    margin-top: 20px;
display: list-item;
text-align: -webkit-match-parent;
width: 300px;
}

.tg-thumbnail {
position: relative;
overflow: hidden;
}

.tg-template:nth-child(2n+1) {
margin-left: 36px;
}

.tg-template {
width: calc((100% - 132px) / 2);
margin: 0 30px 86px;
}

.tg-template {
position: relative;
border-radius: 4px 4px 0 0;
box-shadow: 0px 1px 2px 0px rgba(32, 48, 60, 0.14), 0px 3px 3px 0px rgba(32, 48, 60, 0.06);
height: 300px;
}

.img-size {
width: 300px;
height: 200px;
}

.container h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    line-height: 63px;
    color: #ff7800;
}

.detailimg {
    width: 550px;
    padding: 10px;
}

.a-detail {

}

.a2-detail {
    align-content: center;
   font-size: 20px;
    color: #3c3c3c;
}

.over img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.over:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}