<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 구석구석</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/image/logo/favicon.ico}"/>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=JHCRp_NbcX1UiowWkucf"></script>
    <script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/markerClustering.js}"></script>
    <script type="text/javascript" th:src="@{js/mainMap.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<body>

<div class="header">
    <h1><a href="/daview">
        <img class="Logo" th:src="@{/image/logo/project_logo.png}" alt="다뷰"/>
    </a></h1>

    <div class="gnb">

        <ul id="gnb-container">
            <li class="has_d2">
                <a>계절별 축제
                    <small>봄/여름/가을/겨울</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/all">모든 계절</a>
                    <a href="/daview/spring">봄</a>
                    <a href="/daview/summer">여름</a>
                    <a href="/daview/fall">가을</a>
                    <a href="/daview/winter">겨울</a>
                </div>
            </li>
            <li class="has_d2">
                <a href="/daview/area1">지역별 축제
                    <small>축제</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/area1">서울/경기 지방</a>
                    <a href="/daview/area2">관동 지방</a>
                    <a href="/daview/area3">호서 지방</a>
                    <a href="/daview/area4">호남 지방</a>
                    <a href="/daview/area5">영남 지방</a>
                    <a href="/daview/area6">제주 지방</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/daview/rank">축제 순위
                    <small>전국 축제 TOP 100</small>
                </a>
            </li>


        </ul>
    </div>

    <div class="top_btn">
        <div class="bx_user">
            <button type="button" id="exBtn">로그인</button>
            <button type="button">회원가입</button>
        </div>
    </div>
</div>
<div class="container">

    <!--양옆-->

    <div class="map-container">
        <div class="map-area">
            <div id="map" style="width:100%;height:100%;">

            </div>
            <div class="map-tab">
                <div class="i-field">
                    <input type="text" id="search_fest" class="text" style="display:block;" name="search_fest"
                           placeholder="원하시는 축제명을 입력해주세요.">
                    <button type="button" name="btn-room-search" id="btn-room-search" style="display:block;"
                            th:onclick="'javascript:getFestivalKeyword();'">찾아보기
                    </button>
                </div>
            </div>

            <div class="searchbox-btn" id="searchbox-btn">
                <button type="button" id="serach-open"><img th:src="@{image/search/btn_search_open.png}"/></button>
                <button type="buton" id="serach-close"><img th:src="@{image/search/btn_search_close.png}"/></button>
            </div>


        </div>
        <div class="map-content" id="map-content">
            <!-- search -->
            <div class="map-search" id="map-search">
                <!--<p>조회기간:-->
                <!--</p>-->
                <!--<div class="selectDateIm">-->
                <!--<input id="datepicker1"> ~-->
                <!--<input id="datepicker2">-->
                <!--</div>-->
                <div class="dateSearchRange">
                    <p>
                        <label for="amount">조회기간</label>

                    </p>
                    <input type="text" id="amount" style="border: 0; color: #ff7800; font-weight: lighter; font-size: 20px;
                            margin-top: 2%; margin-bottom: 3%"
                           class="amount"/>
                    <div id="slider-range"></div>
                </div>
                <div class="item-deposit">
                    <h4>지역</h4>
                    <select id="city" name="city" th:onChange="'javascript:selectCity(this)'">
                        <option value="" selected="selected">전국</option>
                        <option value="1">서울</option>
                        <option value="2">인천</option>
                        <option value="3">대전</option>
                        <option value="4">대구</option>
                        <option value="5">광주</option>
                        <option value="6">부산</option>
                        <option value="7">울산</option>
                        <option value="8">세종특별자치시</option>
                        <option value="31">경기도</option>
                        <option value="32">강원도</option>
                        <option value="33">충청북도</option>
                        <option value="34">충청남도</option>
                        <option value="37">전라북도</option>
                        <option value="38">전라남도</option>
                        <option value="35">경상북도</option>
                        <option value="36">경상남도</option>
                        <option value="39">제주도</option>

                    </select>
                </div>

            </div>
            <div class="container2" id="itemList">
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //item 객체를 받아와서 thymeleaf 형태로 변환
    var item = [[${item}]];
    var USD;
    var UED;
    var city;
    makeClusterMap(ingFestival(item));

</script>
</body>
</html>