<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 구석구석</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=JHCRp_NbcX1UiowWkucf&submodules=panorama,geocoder,visualization"></script>
</head>
<body>

<div class="header">
    <h1><a href="/daview">
        <img class="Logo" th:src="@{/image/project_logo.png}" alt="다뷰"/>
    </a></h1>

    <div class="gnb">

        <ul id="gnb-container">
            <li class="has_d2">
                <a href="/">
                    <small>봄/여름/가을/겨울</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/all">모든 계절</a>
                    <a href="/daview/spring">봄</a>
                    <a href="/daview/summer">여름</a>
                    <a href="/daview/fall">가을</a>
                    <a href="/daview/winter">겨울</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/search/map">테마별 축제
                    <small>불꽃놀이/해변축제/꽃축제</small>
                </a>

                <div class="depth2_bx">
                    <a href="/">모든 테마</a>
                    <a href="/">불꽃놀이</a>
                    <a href="/">해변축제</a>
                    <a href="/">꽃축제</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/daview/rank">축제 순위
                    <small>전국 축제 TOP 100</small>
                </a>
            </li>

            <li class="has_d2">
                <a href="/">고객센터</a>
            </li>

        </ul>
    </div>

    <div class="top_btn">
        <div class="bx_user">
            <button type="button">로그인</button>
            <button type="button">회원가입</button>
        </div>
    </div>
</div>

<!--<tr th:each="user : ${item}">
<td th:text="${user.mapX}">emil</td>
<td th:text="${user.mapY}">name</td>
<td th:text="${user.eventEndDate}">stat</td>
<td th:text="${user.eventStartDate}">super</td>
</tr>-->

<div class="container">

    <!--양옆-->

    <div class="map-container">
        <div class="map-area">
            <div id="map" style="width:100%;height:100%;"></div>
            <%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
            <script th:inline="javascript">

                var item = [[${item}]];

                //지도를 삽입할 HTML 엘리먼트 또는 HTML 엘리먼트의 id를 지정합니다.
                var mapDiv = document.getElementById('map'); // 'map' 으로 선언해도 동일
                var naverMapOptions = {
                    center: new naver.maps.LatLng(36, 127),
                    zoom: 2,
                    mapTypeId: naver.maps.MapTypeId.NORMAL,
                    mapTypeControl: true
                };
                //옵션 없이 지도 객체를 생성하면 서울시청을 중심으로 하는 11레벨의 지도가 생성됩니다.
                var map = new naver.maps.Map(mapDiv, naverMapOptions);
                var setMap = {
                    pointMap: function () {
                        var ingData = [];
                        var willData = [];
                        var date = new Date();
                        var today = date;
                        //item 의 날짜를 받아서 모든 년도를 2017년으로 셋팅합니다.
                        for (var i = 0; i < item.length; i++) {
                            var sday = new Date(item[i].eventStartDate);
                            var eday = new Date(item[i].eventEndDate);
                            sday.setYear(2017);
                            eday.setYear(2017);
                            console.log(item[1].title);
                            //오늘 날짜에서 셋팅된 날짜의 값을 계산하여 행사가 진행중이거나 행사의 당일인 경우 ingData로 보냅니다.
                            //반대로 행사가 진행중이 아니라면 willData로 값을 보냅니다.
                            if ((today - sday) > 0) {
                                willData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 7 * 0.1));
                            }

                            else if ((today - sday) <= 0) {
                                if ((today - eday) >= 0) {
                                    if (item[i].readCount < 10000) {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 2 * 0.1))
                                    }
                                    else if (item[i].readCount < 30000) {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 3 * 0.1))
                                    }
                                    else if (item[i].readCount < 50000) {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 5 * 0.1))
                                    }
                                    else if (item[i].readCount < 100000) {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 7 * 0.1))
                                    }
                                    else if (item[i].readCount < 200000) {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 9 * 0.1))
                                    }
                                    else {
                                        ingData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 12 * 0.1))
                                    }
                                }
                                else {
                                    willData.push(new naver.maps.visualization.WeightedLocation(item[i].mapY, item[i].mapX, 7 * 0.1));
                                }
                            }
                        }

                        // 진행중인 행사를 점지도로 맵에 표시합니다.
                        var dotMap = new naver.maps.visualization.DotMap({
                            map: map,
                            data: ingData,
                            radius: 20,
                            fillColor: 'yellowgreen'
                        });

//                        var dot2Map = new naver.maps.visualization.DotMap({
//                            map: map,
//                            data: willData,
//                            radius: 1.5,
//                            strokeWeight: 0.1
//                        })
                    }
                };
                setMap.pointMap();

            </script>
        </div>
        <div class="map-content" id="map-content">
            <!-- search -->
            <div class="map-search">

                <div class="item-deposit">
                    <h4>계절</h4>
                    <select id="season" name="seaon">
                        <option value="전체">전체</option>
                        <option value="봄">봄</option>
                        <option value="여름">여름</option>
                        <option value="가을">가을</option>
                        <option value="겨울">겨울</option>
                    </select>
                </div>

                <div class="item-deposit">
                    <h4>테마</h4>
                    <select id="thema" name="thema">
                        <option value="전체">전체</option>
                        <option value="불꽃놀이">불꽃놀이</option>
                        <option value="해변축제">해변축제</option>
                        <option value="꽃축제">꽃축제</option>
                    </select>
                </div>

                <div class="item-deposit">
                    <h4>지역</h4>
                    <select id="city" name="city">
                        <option value="전체">전체</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                    </select>
                </div>


                <div class="item-type">
                    <h4>정렬</h4>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="01" check/> 랭킹순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="02" check/> 이름순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="03" check/> 이름순(역행)</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="04" check/> 별점순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="05" check/> HOT</label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>