<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전국 구석구석</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=JHCRp_NbcX1UiowWkucf&submodules=panorama,geocoder,visualization"></script>
</head>
<body>

<div class="header">
    <h1><a href="/daview">
        <img class="Logo" th:src="@{/image/project_logo.png}" alt="다뷰"/>
    </a></h1>

    <div class="gnb">

        <ul id="gnb-container">
            <li class="has_d2">
                <a href="/">계절별 축제
                    <small>봄/여름/가을/겨울</small>
                </a>

                <div class="depth2_bx">
                    <a href="/daview/all">모든 계절</a>
                    <a href="/daview/spring">봄</a>
                    <a href="/daview/summer">여름</a>
                    <a href="/daview/fall">가을</a>
                    <a href="/daview/winter">겨울</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/search/map">테마별 축제
                    <small>불꽃놀이/해변축제/꽃축제</small>
                </a>

                <div class="depth2_bx">
                    <a href="/">모든 테마</a>
                    <a href="/">불꽃놀이</a>
                    <a href="/">해변축제</a>
                    <a href="/">꽃축제</a>
                </div>
            </li>

            <li class="has_d2">
                <a href="/daview/rank">축제 순위
                    <small>전국 축제 TOP 100</small>
                </a>
            </li>

            <li class="has_d2">
                <a href="/">고객센터</a>
            </li>

        </ul>
    </div>

    <div class="top_btn">
        <div class="bx_user">
            <button type="button">로그인</button>
            <button type="button">회원가입</button>
        </div>
    </div>
</div>

<div class="container">

    <!--양옆-->

    <div class="map-container">
        <div class="map-area">
            <div id="map" style="width:100%;height:100%;">


                <table id="rankTable">
                    <thead>
                    <tr>
                        <th>title</th>
                        <th>addr1</th>
                        <th>readCount</th>
                        <th>EventStartdate</th>
                        <th>EventEnddate</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="rank : ${rankList}">
                        <td th:text ="${rank.title}">title</td>
                        <td th:text="${rank.addr1}">addr1</td>
                        <td th:text="${rank.readCount}">readCount</td>
                        <td th:text="${rank.eventStartDate}">StartDate</td>
                        <td th:text="${rank.eventEndDate}">EndDate</td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>




        <div class="map-content" id="map-content">
            <!-- search -->
            <div class="map-search">

                <div class="item-deposit">
                    <h4>계절</h4>
                    <select id="season" name="seaon">
                        <option value="전체">전체</option>
                        <option value="봄">봄</option>
                        <option value="여름">여름</option>
                        <option value="가을">가을</option>
                        <option value="겨울">겨울</option>
                    </select>
                </div>

                <div class="item-deposit">
                    <h4>테마</h4>
                    <select id="thema" name="thema">
                        <option value="전체">전체</option>
                        <option value="불꽃놀이">불꽃놀이</option>
                        <option value="해변축제">해변축제</option>
                        <option value="꽃축제">꽃축제</option>
                    </select>
                </div>

                <div class="item-deposit">
                    <h4>지역</h4>
                    <select id="city" name="city">
                        <option value="전체">전체</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                    </select>
                </div>


                <div class="item-type">
                    <h4>정렬</h4>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="01" check/> 랭킹순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="02" check/> 이름순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="03" check/> 이름순(역행)</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="04" check/> 별점순</label>
                    <label>
                        <input type="checkbox" name="room" class="item_room" value="05" check/> HOT</label>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>